// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭───────────┬─────────────┬─────────────┬────────────┬─────────────╮   ╭─────────────┬────────────┬────────────┬─────────────┬───────────────╮
        //│  Q        │  W          │  E          │  R         │  T          │   │  Y          │  U         │  I         │  O          │  P            │
            &kp Q       &kp W         &kp E         &kp R        &kp T             &kp Y         &kp U        &kp I        &kp O         &kp P
        //├───────────┼─────────────┼─────────────┼────────────┼─────────────┤   ├─────────────┼────────────┼────────────┼─────────────┼───────────────┤
        //│  A        │  S          │  D          │  F         │  G          │   │  H          │  J         │  K         │  L          │  ; :          │
            &kp A       &ht LCTRL S   &ht LGUI D    &ht LALT F   &ht LSHFT G       &ht RSHFT H   &ht RALT J   &ht RGUI K   &ht RCTRL L   &kp SEMI
        //├───────────┼─────────────┼─────────────┼────────────┼─────────────┤   ├─────────────┼────────────┼────────────┼─────────────┼───────────────┤
        //│  Z        │  X          │  C          │  V         │  B          │   │  N          │  M         │ , <        │ . >         │  / ?          │
            &kp Z       &kp X         &kp C         &kp V        &kp B             &kp N         &kp M        &kp COMMA    &kp DOT       &kp FSLH
        //╰───────────┴─────────────┴─────────────┼────────────┼─────────────┤   ├─────────────┼────────────┼────────────┴─────────────┴───────────────╯
                                                    &lt 1 TAB    &kp SPACE         &kp ENTER     &lt 2 BSPC
        //                                        ╰────────────┴─────────────╯   ╰─────────────┴────────────╯
            >;
        };

        symbols_layer {
            bindings = <
        //╭──────────┬─────────────────┬──────────┬───────────────┬─────────────────╮   ╭────────────────┬───────────────┬───────────┬───────────┬───────────────╮
        //│  1 !     │  2 @            │  3 #     │  4 $          │  5 %            │   │  6 ^           │  7 &          │  8 *      │  9 (      │  0 )          │
            &kp N1     &kp N2            &kp N3     &kp N4          &kp N5                &kp N6           &kp N7          &kp N8      &kp N9     &kp N0
        //├──────────┼─────────────────┼──────────┼───────────────┼─────────────────┤   ├────────────────┼───────────────┼───────────┼───────────┼───────────────┤
        //│ ` ~      │  ~              │          │  {            │  [              │   │  ]             │  }            │           │           │  ' "          │
            &kp GRAVE  &ht LCTRL TILDE   &kp LGUI   &ht LALT LBRC   &ht LSHFT LBKT        &ht RSHFT RBKT   &ht RALT RBRC   &kp RGUI    &kp RCTRL   &kp SQT
        //├──────────┼─────────────────┼──────────┼───────────────┼─────────────────┤   ├────────────────┼───────────────┼───────────┼───────────┼───────────────┤
        //│ │        │                 │          │               │                 │   │  - _           │  +            │  =        │  _        │  \ PIPE       │
            &kp PIPE   &none             &none      &none           &none                 &kp MINUS        &kp PLUS        &kp EQUAL   &kp UNDER   &kp BACKSLASH
        //╰──────────┴─────────────────┴──────────┼───────────────┼─────────────────┤   ├──────────┼──────────┼──────────┴───────────┴───────────┴───────────────╯
                                                    &trans          &trans                &trans     &trans
        //                                        ╰───────────────┴─────────────────╯   ╰──────────┴──────────╯
            >;
        };

        nav_functions_layer {
            bindings = <
        //╭──────────┬──────────────┬─────────────┬─────────────┬──────────────╮   ╭─────────────┬──────────┬──────────┬───────────┬──────────╮
        //│ ESC      │  F1          │  F2         │  F3         │  F4          │   │  INS        │ HOME     │          │  PG UP    │ NUM LOCK │
            &kp ESC    &kp F1         &kp F2        &kp F3        &kp F4             &kp INS       &kp HOME   &none      &kp PG_UP   &tog 4
        //├──────────┼──────────────┼─────────────┼─────────────┼──────────────┤   ├─────────────┼──────────┼──────────┼───────────┼──────────┤
        //│          │  F5          │  F6         │  F7         │  F8          │   │  DELETE     │  END     │   ⬆️     │  PG_DOWN  │          │
            &none      &ht LCTRL F5   &ht LGUI F6   &ht LALT F7   &ht LSHFT F8       &kp DEL       &kp END    &kp UP     &kp PG_DN   &none
        //├──────────┼──────────────┼─────────────┼─────────────┼──────────────┤   ├─────────────┼──────────┼──────────┼───────────┼──────────┤
        //│          │   F9         │    F10      │     F11     │  F12         │   │  MENU       │  ⬅️      │   ⬇️     │  ➡️       │          │
            &none      &kp F9         &kp F10       &kp F11       &kp F12            &kp K_CMENU   &kp LEFT   &kp DOWN   &kp RIGHT   &tog 0
        //╰──────────┴──────────────┴─────────────┼─────────────┼──────────────┤   ├─────────────┼──────────┼──────────┴───────────┴──────────╯
                                                    &trans        &trans             &trans        &trans
        //                                        ╰─────────────┴──────────────╯   ╰─────────────┴──────────╯
            >;
        };

        media_layer {
            bindings = <
        //╭────────────┬────────────┬──────────────┬───────────────┬──────────────╮   ╭───────────────┬──────────────┬────────────────┬─────────────────┬────────────╮
        //│   POWER   │            │  🔆 -        │               │ 🔆 +         │   │ PRINT         │  󰒮 PREV      │   STOP        │  󰐎 PLAY/PAUSE   │  󰒭 NEXT    │
            &kp K_PWR    &none        &kp C_BRI_DN   &none           &kp C_BRI_UP       &kp PSCRN       &kp C_PREV     &kp C_STOP       &kp C_PP          &kp C_NEXT
        //├────────────┼────────────┼──────────────┼───────────────┼──────────────┤   ├───────────────┼──────────────┼────────────────┼─────────────────┼────────────┤
        //│            │            │   VOL DOWN  │   󰝟 MUTE      │  󰕾 VOL UP    │   │               │              │                │                 │            │
            &none        &none        &kp K_VOL_DN   &kp K_MUTE      &kp K_VOL_UP       &none           &none          &none            &none            &none
        //├────────────┼────────────┼──────────────┼───────────────┼──────────────┤   ├───────────────┼──────────────┼────────────────┼─────────────────┼────────────┤
        //│            │            │   PREV      │   CLR        │   NEXT      │   │  CALC         │  BROWSER     │  FILES         │  IMAGES         │            │
            &bootloader  &none        &bt BT_PRV     &bt BT_CLR      &bt BT_NXT         &kp C_AL_CALC   &kp C_AL_WWW   &kp C_AL_FILES   &kp C_AL_IMAGES   &bootloader
        //╰────────────┴────────────┴──────────────┴───────────────┼──────────────┤   ├───────────────┼──────────────┴────────────────┴─────────────────┼────────────╯
                                                     &trans          &trans             &trans          &trans
        //                                         ╰───────────────┴──────────────╯   ╰───────────────┴──────────────╯
            >;
        };

        gaming_numpad_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │  Q       │  ⬆️      │  E       │  R       │   │  0           │  1       │  2       │  3       │  /       │
            &kp ESC    &kp Q      &kp UP     &kp E      &kp R          &kp N0         &kp N1     &kp N2     &kp N3     &kp KP_DIVIDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────────┼──────────┼──────────┼──────────┤──────────┤
        //│ SHIFT    │  ⬅️      │  ⬇️      │  ➡️      │  G       │   │  +           │  4       │  5       │  6       │  *       │
            &kp RSHFT  &kp LEFT   &kp DOWN   &kp RIGHT  &kp G          &kp KP_PLUS    &kp N4     &kp N5     &kp N6     &kp KP_MULTIPLY
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────────├──────────┼──────────┼──────────┤──────────┤
        //│ CTRL     │  Z       │  X       │  C       │  V       │   │  -           │  7       │  8       │  9       │  ,       │
            &kp LCTRL  &kp Z      &kp X      &kp C      &kp V          &kp KP_MINUS   &kp N7     &kp N8     &kp N9     &kp KP_COMMA
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────────┼──────────┼──────────┼──────────┴──────────╯
                                             &trans     &trans         &trans         &trans
        //                                 ╰──────────┴──────────╯   ╰──────────────┴──────────╯
            >;
        };
    };
};
